$pc-width: 1441px;
$big-laptop-width: 1440px;
$laptop-width: 1366px;
$small-laptop-width: 1280px;
$additional-laptop: 1190px;
$tablet-mobile-width: 1024px;
$smallest-width: 714px;

$font-family: 'Mont', sans-serif;

$cursor: pointer;

$afterpay-color: #BCF5E3;
$answer-color: #AECCFF;
$background-faq: #194081;
$background-light: #FBFBFB;
$border-faq: #31548E;
$border-intro: #CEE2FF;
$dark-green: #57AC73;
$dark-grey: #262626;
$font-dark: #000;
$font-light: #FFF;
$header-background: #F5FDFFCC;
$light-green: #BFF5BE;
$light-grey: #787979;
$main-dark: #11346F;
$main-light: #197AFF;
$rose-color: #AC5780;

$transition: background-color .3s;
